.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    border: 1px solid black;
}

.grid-item {
    background-color: #e3e3e4;
    height: 60px; /* Adjust height to account for the border */
    width: 60px; 
    border: 1px solid #999;
    box-sizing: border-box; 
}
